body {
    background-image: url("../images/concrete_seamless.png");
}

#logo {
    float: left;
    width: 250px;
    height: 90px;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 90px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    background: #4aaaa5;
}

#masthead {
    position: fixed;
    z-index: 99;
    width: 100%;
    margin: 0 0 30px;
    overflow: auto;
    color: #ffffff;
    background: #ffffff;
    border-bottom: 2px solid #cccccc;
}

#main-container {
    padding-top: 130px;
    min-height: calc(100vh - 70px);
}

.whitebox {
    background: white;
}

footer {
    padding: 30px 0;
    clear: both;
    font-size: 12px;
    color: #ffffff;
    color: #cccccc;
    text-align: center;
    background: #666666;
    border-top: 8px solid #4aaaa5;
    height: 50px;
}

.img-fluid {
    /*float: left; */
    width: 250px;
    height: auto;
    margin-top: 10px;
    margin-right: 25px;
}

.navbuttons {
    color: #999;
    text-align: center;
    line-height: 90px;
}

h1.responsive-fix {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-weight: 700;
    color: #4aaaa5;
    border-bottom: 3px solid #dddddd;
    padding-top: 20px;
}

/* Contact page submit button */

#submitbutton {
    padding: 10px 30px;
    font-size: 18px;
    color: #ffffff;
    cursor: pointer;
    background: #4aaaa5;
    border: 0 none;
}

/* portfolio style for images*/

.thumbnail {
    position: relative;
    width: 100%;
    border: 0 none;
    opacity: 0.8;
}

.caption {
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding: 15px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
    background: #4aaaa5;
    border-bottom: 0;
}